* {
    margin: 0;
    padding: 0;

}

.grilla {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
      "header header header"
      "section1 section1 section1"
      "section2 section2 section2"
      "footer footer footer"; 
}
  

/* ------HEADER------ */

  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #10002B;
    background: radial-gradient(circle, #5533d2 9%, #d294e9 83%);
    
  
}
  .header div img{
    margin-top: 30px;
    transition: all 0.1s;
}
  .header div img:hover{
    transform: scale(1.2);
}
  .header div {
      display: flex;
      margin: 10px;

}
  .header h1{
      font-size: 40px;
      padding-top: 30px;
      margin: 0px;
      
}
 .header h1 span{
    color: red;
    background-color: black;
    border: dotted red;
    border-radius: 0 25px;
    margin: 25px;
    padding: 5px;
    display: inline-block;
    font-family: sans-serif;
    transform: skew(-3deg);
}
  .header nav ul {
      display: flex;
      list-style: none;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 66px;
      flex-wrap: wrap;
      
}
  .header li {
      padding: 3px;
      font-size: 20px;
      border: solid 2px black;
      border-radius:  0 10px;
      margin: 40px;
      animation-name: cambioColor;
      animation-duration: 7s;
      animation-iteration-count: infinite;


}
  .header li a {
    color: black;
    text-decoration: none;
}
  .header li a:hover {
    transition: 0.2s;
    font-weight: 900;
    
}
.header li:hover {
    padding: px;
}

    /* ------SECTION1--------- */

.section1{
        grid-area: section1;
        background-color: #240046;
        color: white;
        
}
  .section1 h2{
     font-size: 40px;
     margin: -1px;
     padding: 20px;
     text-align: center;
     color: deeppink;
     
}
 .section1 p{
     font-size: 20px;
     text-align: center;
     margin: 1rem;
}
 .section1 div{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}
.section1 div iframe{
    margin: 10px;
    border: grey 2px solid;
    border-radius: 5px;
}

/*  -------SECTION2------- */

.section2 { grid-area: section2;
background-color: #9D4EDD; 
color: white;
background-image: linear-gradient(to bottom, #240046,#9D4EDD );
}
.section2 div{
    display: flex;
    justify-content: center;

}
.section2 div h3{
    font-size: 30px;
    margin: 100px;
    color: yellow;
    border: double 10px darkcyan;
    padding: 2px;
    border-radius: 0 20px;
}
.section2 p {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
    max-width: 1400px;
    
}
.section2 img {
    max-width: 400px;
    animation-name: moov;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*  ----- FOOTER------- */

.footer { grid-area: footer;
    background-color: #E0AAFF;
    background-image: linear-gradient(to bottom, #9D4EDD, #E0AAFF );
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    
}
.footer i {
    color: #fff;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 2rem;
    border: #fff 2px solid;
    border-radius: 50px;
    background-color: black;   

}
.contacto {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    

}
.contacto i {
    font-size: 0.8rem;
    background-color: transparent;
    color: black;
    border: transparent;
    margin: 0;
}
.contacto a {
    color: black;
}
.footer i:hover {
    background-color: grey;
}



main {
    background-color: #240046;
    background-image: linear-gradient(to bottom, #240046,#9D4EDD );
    }

/* --- NOVEDADES----- */


.novedades {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #E0AAFF;
    
}

.marcas {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}

.marcas li {
    border: solid 2px black;
    padding: 10px;
    margin: -5px;
    margin-bottom: 140px;
}

/* ------- COMPRAS------ */

.maincompra  {
    padding-bottom: 200px
}

.compra {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #E0AAFF;
    padding-top: 40px;
}

.imgcompra{
    display: block;
 margin: 0px auto;
 }

.navegacion {
    width: 300px;
    margin:  auto;
    background: #333333;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    color: #CE7D35;
    transition: all .2s;
}

.submenu {
    position: absolute;
    background: #333333;
    width: 110%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

/* ------ CLIENTES --------- */

.galeria img {
    
    max-width: 400px;
    
    
}
.fotos {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-around;
}
.fotos img{
    max-width: 400px;
    padding-bottom: 20px;

}

/* ---------- CONTACTO------------- */

.formulario {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 40px;
    color: #E0AAFF;
    background-image: linear-gradient(to bottom, #240046,#9D4EDD );
    
}

.formulario h2 {
    margin-bottom: 15px;
    font-size: 35px
}

.formulario p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
    margin-top: 40px;
   
}

.formulario a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: grey;
    font-weight: 900;
}

.formulario a i {
    color: grey;
    margin-right: 15px;
}

.campoo {

    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    border: 2px solid grey;
    margin-bottom: 4px;
    border-radius: 3px;
    outline: 0px;

}

.formulario form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 2px solid grey;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.formulario :focus{
    background-color: grey;
}

.formulario form textarea {
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.formulario .btn-enviar {
    padding: 20px;
    font-size: 10px;
    border: none;
    outline: 0px;
    background: grey;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    margin: 20px
}

.formulario .btn-enviar:hover {
    background: #0706003e;
    transform: scale(1.1);
}

/*ANIMACIONES*/
@keyframes

 cambioColor{
     0%{background-color: #f8f5f5;}
     25%{background-color: #817f7f;}
     50%{background-color: #555555;}
     100%{background-color: #323232;}}

@keyframes moov {
   
    0%{
        transform: rotate(0deg);
        transition: .5s;
    }
    25%{
        transform: rotate(15deg);
        transition: .5s;
    }
    50%{
        transform: rotate(0deg);
        transition: .5s;
    }
    75%{
        transform: rotate(-15deg);
        transition: .5s;
    }
    100%{
        transform: rotate(360deg);
        transition: .5s;
    }
}
@keyframes spin { 
    100% { 
      transform: rotateZ(360deg);
    }
  }


/* mobile last a tablet */
@media (max-width: 1024px) {
.header {
        padding-bottom: 10px;
        flex-direction: column;
        margin: -1px;
}
 
    .header div img {
        margin: 0;
}
    .header h1 {
        margin: 0;
        padding: 0;
}
    .header nav ul {
        margin: -43px;
        margin-bottom: -35px;
}
}
@media (max-width: 769px) {
    .header {
            padding-bottom: 10px;
            flex-direction: column;
}
    .header div {
        margin: -1px;
}
    .header div img {
        margin: 0;
}
    .header h1 {
        margin: 0;
        padding: 0;
}
    .header nav ul {
        margin: -43px;
        margin-bottom: -35px;
}
.fotos img{ 
    max-width: 240px;
}
.novedades{
    padding-bottom: 100px;
}
.marcas li{
    padding: 20px;
    margin-bottom: 15px;
}
}
 @media (max-width: 376px){
.header{
    padding-bottom: 10px;
}
.header h1 {
            font-size: 30px;
}
.header nav ul {
       padding: 0;
       margin: 0;
           
           
}
.header li {
       margin: 0;
       padding: 0;
}  
.header li a {
    font-size: 14px;
    padding: 3px;
}
.section1 div {
        flex-direction: column;
}
.section1 div iframe {
        max-width: 340px;
}
.section2 div {
    flex-direction: column;
}
.section2 div h3 {
    text-align: center;
       margin: 0;
}
.fotos img{ 
    max-width: 150px;
}
.formulario p {
    font-size: 14px;
}
.formulario a {
    font-size: 14px;
}
.marcas li{
    padding: 20px;
    margin-bottom: 15px;
}
.footer {
    flex-direction: column-reverse;
    }
.redes {
    text-align: center;
}    
}
